h1 { 
    color: rgb(0, 33, 71);
   }
p {
    color: rgb(0,0,0);
    word-wrap: break-word;
    width: 1200px;
  }
body {
    background-color: #6685E9;
}
.backdrop
    {
      display: block;
      margin-left: auto;
      margin-right: auto;
      position:absolute;
      top: 550px;
      left: 340px;
      z-index: 5;
    }
.pic1
    {
      display: block;
      margin-left: auto;
      margin-right: auto;
      position:absolute;
      top: 25px;
      left: 25px;
      z-index: 4;
    }
.pic2
     {
      display: block;
      margin-left: auto;
      margin-right: auto;
      position:absolute;
      top: 10px;
      left: 10px;
      z-index: 3;
    }
.pic3
    {
      display: block;
      margin-left: auto;
      margin-right: auto;
      position:absolute;
      top: 25px;
      left: 25px;
      z-index: 2;
    }
.pic4
    {
      display: block;
      margin-left: auto;
      margin-right: auto;
      position:absolute;
      top: 10px;
      left: 10px;
      z-index: 1;
    }
.text
    {
      display: block;
      margin-left: auto;
      margin-right: auto;
      position:absolute;
      top: 25px;
      left: 25px;
      z-index: 6;
    }
        
